﻿@model List<Gallery.Data.Model.Category>


<ul class="sidebar-menu" id="CategoriesList">
    <li class="header">CATEGORIAS</li>
    @foreach (var item in Model)
    {
        if (item.Selected)
        {
        <li id="@string.Format("{0}_{1}",item.CleanName,item.Id)" class="active">                
           @Ajax.ActionLink(item.Name, "FindImages", "Home", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "imagesdiv", InsertionMode = InsertionMode.Replace })</li>
        }
        else
        { 
        <li id="@string.Format("{0}_{1}",item.CleanName,item.Id)">@Ajax.ActionLink(item.Name, "FindImages", "Home", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "imagesdiv", InsertionMode = InsertionMode.Replace }, null)</li>
        }
    }
          
</ul>

<script>
    //Agregar class "active" a la categoria seleccionada
    $(document).ready(function () {
        $('ul.sidebar-menu li').click(function (e) {
             $(".sidebar-menu li.active").removeClass("active");          
             $("#" + this.id).addClass("active");

        });
    });
</script>
