﻿

@using (Ajax.BeginForm("CreateItem", "Home",
                     new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "replacetarget", OnSuccess = "updateimages", LoadingElementId = "loading", 
                                       OnBegin = "onLoginBegin"  }
                                       , new { @class = "form-inline pull-right" }))
  {
                                @Html.AntiForgeryToken()
                                <div style="float:right;" class="form-group" id="loading">    
                                      <img src="~/Content/default.svg" />
                                </div>
                                 <div class="form-group">
                                    @Html.DropDownList("categorySelectd",
                                   (List<SelectListItem>)ViewBag.ListOfCategories, new { @class = "form-control input-md js-example-basic-single" })                                    
                                </div>

                                <div class="form-group">
                                    @Html.DropDownList("typeOption",
                                   new List<SelectListItem>
                                   {
                                                            new SelectListItem { Text ="GfyCat", Value="1", Selected = true },
                                                            new SelectListItem { Text ="Gifv", Value="2", Selected = false },
                                                            new SelectListItem { Text ="Gif", Value="3", Selected = false},
                                                            new SelectListItem { Text ="Sin Animación", Value="4", Selected = false},
                                   }, new { @class = "form-control input-md js-example-basic-single" })                                    
                                </div>

                                <div class="input-group">                           
                                      @Html.TextBox("url", null, new { @class = "form-control", placeholder = "url..." })                           
                                     <span class="input-group-btn">                               
                                          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-plus"></i></button>
                                     </span>
                                </div>        

                             


                            }



<script type="text/javascript">
    //Esconder el icono cuando termine la operacion de crear item
    function onLoginBegin()
    { 
        $('#loading').hide();
    }

    //Convertir Combobox a tipo Select2
     $(document).ready(function(){
             $(".js-example-basic-single").select2();
     });
</script>