﻿@using Gallery.Repository
@model Gallery.Data.Model.Category




<section class="content-header " style="margin-top:20px; margin-bottom:30px">
      <h1 class="label label-primary">
          @if (Model.Id>0)
          {
             @Html.Raw("Categoría<strong> "+ @Model.Name+"</strong>")
          }
          else
          {
                @Html.Raw("Sin Categoría")
          }          
      </h1>   
     @Ajax.ActionLink(" ", "DeleteCategory", "Home", new { id = Model.Id},
                       new AjaxOptions { Confirm= "¿Desea eliminar esta Categoría?",OnSuccess = "deleteCategory" }, new { @class="icon-deletecategory" })


 
</section>

<div class="row" >

    <!--GFYCAT-->
    @if (Model.GfyCatPanel)
    {
        @Html.Raw("<div class='box box-default'>")
    }
    else
    {
        @Html.Raw("<div class='box box-default collapsed-box'>")
    }
    
  <div class="box-header with-border">
    <h3 class="box-title"><strong>GFYCAT</strong></h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-widget="collapse">
         @if (Model.GfyCatPanel)
         {
            @Html.Raw("<i class='fa fa-minus'></i>")
         }
         else
         {
             @Html.Raw("<i class='fa fa-plus'></i>")
         }

         </button>
    </div><!-- /.box-tools -->
  </div><!-- /.box-header -->
  <div class="box-body" id="GfyCat">
     @foreach (var item in Model.GfyCat.Where(c=>c.Enable== true))
        {
            if (item.gfyItem!=null)
            {          
                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3" >
                    <div class="panel panel-primary" id="@string.Format("{0}_{1}",item.Id,item.Url)">
                        <div class="panel-image hide-panel-body">                      


                            <video class="video-js vjs-default-skin centre" preload="auto" 
                                   onclick="this.paused?this.play():this.pause();"
                              poster="@item.gfyItem.posterUrl"
                              >
                             <source src="@item.gfyItem.mp4Url" type="video/mp4" />
                             <source src="@item.gfyItem.webmUrl" type="video/webm" />
                         
                             <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                            </video>
                        </div>
                   
                        <div class="panel-footer text-center">
                       
                        
                        
                            <a onclick="" class="popoverclick" data-trigger="click" data-toggle="popover" data-placement="top" data-content="Copiado"><span class="prueba icon-home" data-clipboard-text="@string.Format("https://gfycat.com/{0}",item.gfyItem.gfyId)"></span></a>
                            <a onclick="" class="popoverclick" data-trigger="click" data-toggle="popover" data-placement="top" data-content="Copiado"><span class="prueba icon-gif" data-clipboard-text="@item.gfyItem.max5mbGif"></span></a>
                            <a onclick="" class="popoverclick" data-trigger="click" data-toggle="popover" data-placement="top" data-content="Copiado"><span class="prueba icon-mp4" data-clipboard-text="@item.gfyItem.mp4Url"></span></a>
                            <a onclick="" class="popoverclick" data-trigger="click" data-toggle="popover" data-placement="top" data-content="Copiado"><span class="prueba icon-laneros" data-clipboard-text="@string.Format("[IMG]{0}[/IMG]",@item.gfyItem.max5mbGif)"></span></a>                                                     
                            @Ajax.ActionLink(" ", "DeleteImage", "Home", new { id = item.Id,type=1 },
                                        new AjaxOptions
                                        {
                                             Confirm= "¿Desea eliminar esta imagen?",
                                            OnSuccess ="deleteImage(data, status, xhr)"
                                        }, new { @class="icon-deleteimage" })
                        </div>
                    </div>
                </div>
            }
        }
  </div>
</div>

    <!--GIFV-->      
     @if (Model.GifvPanel)
    {
        @Html.Raw("<div class='box box-default'>")
    }
    else
    {
        @Html.Raw("<div class='box box-default collapsed-box'>")
    }
    
      <div class="box-header with-border">
        <h3 class="box-title"><strong>GIFV</strong></h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse">
            
             @if (Model.GifvPanel)
         {
            @Html.Raw("<i class='fa fa-minus'></i>")
         }
         else
         {
             @Html.Raw("<i class='fa fa-plus'></i>")
         }
          
          </button>
        </div><!-- /.box-tools -->
      </div><!-- /.box-header -->
      <div class="box-body" id="Gifv">
         @foreach (var item in Model.Gifv.Where(c=>c.Enable== true))
             {
                 if (item.gifvitem!=null)
                 {
                     <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3" >
                    <div  class="panel panel-primary" id="@string.Format("{0}_{1}",item.Id,item.Url)">
                        <div class="panel-image hide-panel-body">         
                        
                              <video class="video-js vjs-default-skin centre" preload="auto" 
                                   onclick="this.paused?this.play():this.pause();"
                             poster="@string.Format("https://i.imgur.com/{0}t.gif",item.Url)"
                              >
                             <source src="@item.gifvitem.mp4" type="video/mp4" />
                             <source src="@item.gifvitem.webm" type="video/webm" />


                             <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                            </video>             
                                @*<video onclick="this.paused?this.play():this.pause();" class="centre video-js vjs-default-skin vjs-big-play-centered " 
                                              loop="">
                                            <source id="webmSource" src="@item.gifvitem.webm" type="video/webm">
                                            <source id="mp4Source" src="@item.gifvitem.mp4" type="video/mp4">
                                            Lo siento, Tu navegador no soporta HTML 5
                                    </video>*@        
                        </div>
                   
                        <div class="panel-footer text-center">
                       
                        
                        
                            <a onclick="" class="popoverclick" data-trigger="click" data-toggle="popover" data-placement="top" data-content="Copiado"><span class="prueba icon-home" data-clipboard-text="@item.gifvitem.gifv"></span></a>
                            <a onclick="" class="popoverclick" data-trigger="click" data-toggle="popover" data-placement="top" data-content="Copiado"><span class="prueba icon-gif" data-clipboard-text="@item.gifvitem.link"></span></a>
                            <a onclick="" class="popoverclick" data-trigger="click" data-toggle="popover" data-placement="top" data-content="Copiado"><span class="prueba icon-mp4" data-clipboard-text="@item.gifvitem.mp4"></span></a>
                            <a onclick="" class="popoverclick" data-trigger="click" data-toggle="popover" data-placement="top" data-content="Copiado"><span class="prueba icon-laneros" data-clipboard-text="@string.Format("[IMG]{0}[/IMG]",@item.gifvitem.link)"></span></a>
                             @Ajax.ActionLink(" ", "DeleteImage", "Home", new { id = item.Id,type=2 }, new AjaxOptions {  Confirm= "¿Desea eliminar esta imagen?", OnSuccess="deleteImage(data, status, xhr)" }, new { @class="icon-deleteimage" })
                        </div>
                    </div>
                </div>
                 }
            }
      </div><!-- /.box-body -->
    </div>
       
    <!--GIF-->
    @if (Model.GifPanel)
    {
        @Html.Raw("<div class='box box-default'>")
    }
    else
    {
        @Html.Raw("<div class='box box-default collapsed-box'>")
    }
  <div class="box-header with-border">
    <h3 class="box-title"><strong>GIF</strong></h3>
    <div class="box-tools pull-right">        
      <button class="btn btn-box-tool" data-widget="collapse">
         
         @if (Model.GifPanel)
         {
            @Html.Raw("<i class='fa fa-minus'></i>")
         }
         else
         {
             @Html.Raw("<i class='fa fa-plus'></i>")
         }
      
      </button>
    </div><!-- /.box-tools -->
  </div><!-- /.box-header -->
  <div class="box-body" id="Gif">
      @foreach (var item in Model.Gif.Where(c=>c.Enable== true))
            {
                if (item!=null)
                {          
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3" >
                     
                <div  class="panel panel-primary" id="@string.Format("{0}_{1}",item.Id,item.CleanUrl)">
    
                    <div class="panel-body">
                        <figure>
                            
                            <img src="data:image;base64,@System.Convert.ToBase64String(item.FirstFrame)" alt="Static Image" data-alt="@item.Url" class="img-responsive center-block centre"  style="display: block; min-height:180px; min-width:150px; max-width:150px;  max-height:180px;  width: auto;  height: auto;" />
                        </figure>                                                                          
                    </div>
                        <div class="panel-footer text-center">                                             
                            <a onclick="" class="popoverclick" data-trigger="click" data-toggle="popover" data-placement="top" data-content="Copiado"><span class="prueba icon-home" data-clipboard-text="@item.Url"></span></a>                         
                            <a onclick="" class="popoverclick" data-trigger="click" data-toggle="popover" data-placement="top" data-content="Copiado"><span class="prueba icon-laneros" data-clipboard-text="@string.Format("[IMG]{0}[/IMG]",@item.Url)"></span></a>
                             @Ajax.ActionLink(" ", "DeleteImage", "Home", new { id = item.Id,type=3 }, new AjaxOptions {  Confirm= "¿Desea eliminar esta imagen?", OnSuccess="deleteImage(data, status, xhr)" }, new { @class="icon-deleteimage" })
                        </div>
                    </div>
                                   
                                  
                      </div>
                                            
                 }
            }
  </div><!-- /.box-body -->
</div>
       
     <!--OTHER IMAGES-->
    @if (Model.OtherImagePanel)
    {
        @Html.Raw("<div class='box box-default'>")
    }
    else
    {
        @Html.Raw("<div class='box box-default collapsed-box'>")
    }
  <div class="box-header with-border">
    <h3 class="box-title"><strong>OTRAS</strong></h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-widget="collapse">
       @if (Model.OtherImagePanel)
         {
            @Html.Raw("<i class='fa fa-minus'></i>")
         }
         else
         {
             @Html.Raw("<i class='fa fa-plus'></i>")
         }
      
      </button>
    </div><!-- /.box-tools -->
  </div><!-- /.box-header -->
  <div class="box-body" id="OtherImage">
      @foreach (var item in Model.OthersImages.Where(c=>c.Enable== true))
            {
                if (item!=null)
                {          
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3" >
                     
                <div  class="panel panel-primary" id="@string.Format("{0}_{1}",item.Id,item.CleanUrl)">
    
                    <div class="panel-body">

                            
                            <img src="@item.Url" alt="No Disponible -> @item.Url" class="img-responsive center-block centre"  style="display: block; min-height:180px; min-width:150px; max-width:150px;  max-height:180px;  width: auto;  height: auto;" />
                                                                       
                    </div>
                        <div class="panel-footer text-center">                                             
                            <a onclick="" class="popoverclick" data-trigger="click" data-toggle="popover" data-placement="top" data-content="Copiado"><span class="prueba icon-home" data-clipboard-text="@item.Url"></span></a>                         
                            <a onclick="" class="popoverclick" data-trigger="click" data-toggle="popover" data-placement="top" data-content="Copiado"><span class="prueba icon-laneros" data-clipboard-text="@string.Format("[IMG]{0}[/IMG]",@item.Url)"></span></a>
                             @Ajax.ActionLink(" ", "DeleteImage", "Home", new { id = item.Id,type=4 }, new AjaxOptions {  Confirm= "¿Desea eliminar esta imagen?", OnSuccess="deleteImage(data, status, xhr)" }, new { @class="icon-deleteimage" })
                        </div>
                    </div>
                                   
                                  
                      </div>
                                            
                 }
            }
  </div><!-- /.box-body -->
    </div>
</div>



<script>
    $(function () {

        //Cambiar seleccion en el combobox de crear item
        var id = @Html.Raw(Model.Id);                
        $('#categorySelectd option[value="'+id+'"]').attr('selected', 'selected');
        $("#categorySelectd").val(id).trigger("change");

        //Popover copiar en cada uno de las opciones
        $('.popoverclick').popover().click(function () {
            setTimeout(function () {
                $('.popoverclick').popover('hide');
            }, 500);              
        });

        //Cambiar atributos para quitar frame inicial y colocar la direccion del gif
        $('figure').on('click', function() { 
                var $this = $(this),
                $index = $this.index(),
 
                $img = $this.children('img'),
                $imgSrc = $img.attr('src'),
                $imgAlt = $img.attr('data-alt'),
                $imgExt = $imgAlt.split('.');
 
                if($imgExt[1] === 'gif') {
                $img.attr('src', $img.data('alt')).attr('data-alt', $imgSrc);
                } else {
                $img.attr('src', $imgAlt).attr('data-alt', $img.data('alt'));
                }
 
        });


        //Guardar configuracion del panel seleccionado (abierto o cerrado)
            $("[data-widget='collapse']").click(function() {
            var box = $(this).parents(".box").first();    
            var bf = box.find(".box-body");
            var id = bf.attr("id");
            var openedPanel = box.hasClass("collapsed-box");
            $.ajax({
                type: "POST",
                url: "@Url.Action("SavePanelConfiguration","Home")",
                data: {type :id, open :openedPanel},
                datatype: "html",
                success: function (data) {
                 
                }
            });           
        });
           
    });

    //Confirmación de eliminacion de la imagen seleccionada
    function deleteImage(data, status, xhr) {               
                 if (data.sucess) {
                     $("#" + data.id).toggle();
                     toastr.info("Imagen Eliminada");
                 }
                 else
                     toastr.error("No se pudo eliminar la images");

    }

    //Eliminar Categoria
    function deleteCategory(data, status, xhr) {               
        if (data.sucess) {

            console.log(data);
            $("#" + data.id).toggle();
            $("#CreateItem").load("/Home/UpdateCategoryList");
            $("#imagesdiv").load("/Home/FindImages", { id: data.categoryselectedid });
            $("#CategoriesList").load("/Home/GetAllCategoriesUser");
            toastr.info("Categoría Eliminada");
        }
        else
            toastr.error("No se pudo eliminar la Categoria");

    }


    
</script>