﻿@model ICollection<Gallery.Models.Category>


 <aside class="main-sidebar">

        <section class="sidebar">

 
          <ul class="sidebar-menu">
            <li class="header">CATEGORIAS</li>
              @foreach (var item in Model)
              {
                    <li>@Ajax.ActionLink(item.Name,"FindImages","Home",new { id=item.Id},new AjaxOptions { UpdateTargetId = "imagesdiv" , InsertionMode = InsertionMode.Replace},null)</li>
                    
                  
              }
          

          </ul>
        </section>
        
    </aside>
