﻿<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>One For All Gallery</title>
    
    @Styles.Render("~/Content/css")
     @*<link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">*@
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Content/AdminLTE/AdminLTE.css" rel="stylesheet" />
    
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    
    <link href="~/Content/AdminLTE/_all-skins.min.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
            @Scripts.Render("~/bundles/modernizr")
            <link href="~/Scripts/select2.min.css" rel="stylesheet" />

        <script src="~/Scripts/jquery-2.2.3.min.js"></script>
        @*@Scripts.Render("~/bundles/jquery")*@
        <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/clipboard.min.js"></script>
    
    <link href="~/Content/video-js.css" rel="stylesheet" />
    <script src="~/Scripts/select2.min.js"></script>

  <!-- If you'd like to support IE8 -->
  <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  
</head>
<body class="hold-transition skin-blue sidebar-mini">  
    
    <div class="wrapper">
         <header class="main-header">
        <!-- Logo -->
        <a href="../../index2.html" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>A</b>LT</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>OFA</b> GALLERY</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
            

                <li class="dropdown user user-menu"> @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
                         {
                         @Html.AntiForgeryToken()

                            <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-info btn-flat">Salir</a>                 

                         }</li>
                <li class="dropdown user user-menu">
                    
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                 
                  <span class="hidden-xs">@User.Identity.Name</span>
                </a>
                    
              </li>

                  @*@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
                    {
                         @Html.AntiForgeryToken()
                      
                                
                                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                      
                  
                        <a href="javascript:document.getElementById('logoutForm').submit()" data-toggle="control-sidebar"><i class="fa fa-sign-out"></i> Salir</a>

                    }*@
                
      
            </ul>
          </div>
        </nav>
      </header>

         <aside class="main-sidebar">
           <section class="sidebar">
               @using (Ajax.BeginForm("CreateCategory",null, new AjaxOptions { UpdateTargetId = "CategoriesList", InsertionMode = InsertionMode.Replace, OnSuccess="UpdateCategoryList" }, new { @class="sidebar-form"}))
               {
                    @Html.AntiForgeryToken()
                       <div class="input-group">                           
                            @Html.TextBox("name", null, new { @class="form-control", placeholder="Nueva Categoria", @Value = ""})                           
                           <span class="input-group-btn">                               
                                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-plus"></i></button>
                          </span>
                      </div>                                                                             
               }   

               @using (Ajax.BeginForm("FindCategories",null, new AjaxOptions { UpdateTargetId = "CategoriesList", InsertionMode = InsertionMode.Replace }, new { @class="sidebar-form"}))
               {
                    @Html.AntiForgeryToken()
                       <div class="input-group">                           
                            @Html.TextBox("term", null, new { @class="form-control", placeholder="Buscar..."})                           
                           <span class="input-group-btn">                               
                                <button type="submit" name="search" id="search-btn" class="btn btn-search"><i class="fa fa-search"></i></button>
                          </span>
                      </div>                                                                             
               }                                                                           

               @if (User.Identity.IsAuthenticated)
               {
                     @Html.Partial("_Categories",(List<Gallery.Data.Model.Category>) ViewBag.Categories)
               }
               
               </section>
               </aside>
               
         <div class="content-wrapper">
                 <section class="content">  
                   
                        <div class="row col-lg-12" id="CreateItem" style="margin-bottom:5px">    
                             @if (User.Identity.IsAuthenticated)
                             {
                                @Html.Partial("_CreateItem")
                             }
                        </div>

              
                     @RenderBody()   
                </section>
           </div>
         
        </div>
    
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="signalr/hubs"></script>
    <script src="https://vjs.zencdn.net/5.9.2/video.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Content/AdminLTE/plugin/slimScroll/jquery.slimscroll.js"></script>
    <script src="~/Content/AdminLTE/plugin/fastclick/fastclick.min.js"></script>
    <script src="~/Content/AdminLTE/plugin/app.min.js"></script>
    <script src="~/Content/AdminLTE/plugin/demo.js"></script>

    <script src="~/Scripts/toastr.js"></script>

    <script type="text/javascript">

        //Opciones de toars
        toastr.options = {
                          "closeButton": false,
                          "debug": false,
                          "newestOnTop": true,
                          "progressBar": true,
                          "positionClass": "toast-bottom-right",
                          "preventDuplicates": false,
                          "onclick": null,
                          "showDuration": "300",
                          "hideDuration": "1000",
                          "timeOut": "5000",
                          "extendedTimeOut": "1000",
                          "showEasing": "swing",
                          "hideEasing": "linear",
                          "showMethod": "fadeIn",
                          "hideMethod": "fadeOut"
                        }

        //Metodo que permite mostrar si una categoria se creo o no
         var hub = $.connection.galleryhub;            
            hub.client.Message = function (success,message) {             
                if (success) 
                    toastr.info(message);
                else
                    toastr.error(message);

            };

        //Inicializar botones que permiten copiar con solo darle click
        var clipboard = new Clipboard('.prueba');
        

        //Actualizar Categorias cuando se creo una nueva categoria
        function UpdateCategoryList() {
             $("#name").val("");
            $("#CreateItem").load("/Home/UpdateCategoryList");
           
        }

        //Actualizar Imagenes cuando se crea una nueva imagen sí la categoria en la que se inserto es igual a la categoria 
        //actualmente seleccionada
        function updateimages() {
                var categorySelectedVal = $("#categorySelectd option:selected").val();            
                var categorySelectedName = $("#categorySelectd option:selected").text();
                var removecharacter = categorySelectedName.replace(/[^a-zA-Z0-9_]/g, "");
                var categorySelected = removecharacter + "_" + categorySelectedVal;            
                var menuSelected = $("#CategoriesList li.active").attr('id');
                if (categorySelected===menuSelected) 
                    $("#imagesdiv").load("/Home/FindImages", { id: categorySelectedVal });                
                $("#url").val("");
        }

        $(document).ready(function(){
            $('[data-toggle="popover"]').popover();

            //Inicializar signalr
             $.connection.hub.start().done(function () {               
             });

            
            //Buscar lista de categorias cuando se escribe
            $("#term").keyup(function () {
                var that = this,
                value = $(this).val();
                $("#CategoriesList").load("/Home/FindCategories", {term: value});
             });
    });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
