﻿@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using Gallery.Models
@model LoginViewModel
@{
    ViewBag.Title = "Bienvenidos a OFA Gallery";
}
    
    

<div class="login-box">
      <div class="login-logo">
        <a href="~/"><b>OFA</b> Gallery</a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Logueate para iniciar tu sesión</p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

          <div class="form-group has-feedback">
            @Html.TextBoxFor(c => c.Email,new { @class ="form-control", placeholder="Usuario", type="email"})            
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
              @Html.TextBoxFor(c => c.Password, new { @class = "form-control", placeholder = "Contraseña", type = "password" })            
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-8">
              <div class="checkbox icheck">
                <label>
                    @Html.CheckBoxFor(c=>c.RememberMe)
                  @*<input type="checkbox"> Remember Me*@
                </label>
              </div>
            </div><!-- /.col -->
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Entrar</button>
            </div><!-- /.col -->
          </div>
    }

        @*<form action="../../index2.html" method="post">
          <div class="form-group has-feedback">
            <input type="email" class="form-control" placeholder="Email">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-8">
              <div class="checkbox icheck">
                <label>
                  <input type="checkbox"> Remember Me
                </label>
              </div>
            </div><!-- /.col -->
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
            </div><!-- /.col -->
          </div>
        </form>*@

        <div class="social-auth-links text-center">
          <p>- Ó -</p>
          <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Loguearse con Facebook</a>
          <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Loguearse con Google+</a>
        </div><!-- /.social-auth-links -->

        <a href="#">Olvide mi contraseña</a><br>
        <a href="register.html" class="text-center">Registrarse</a>

      </div><!-- /.login-box-body -->
    </div>