﻿@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.gallery
{
    display: inline-block;
    margin-top: 20px;
}




.panel-image img.panel-image-preview {
    width: 100%;
	border-radius: 4px 4px 0px 0px;
}

.panel-heading ~ .panel-image img.panel-image-preview {
	border-radius: 0px;
}

.panel-image ~ .panel-body, .panel-image.hide-panel-body ~ .panel-body {
	overflow: hidden;
}
.panel-image ~ .panel-footer a {
	padding: 0px 10px;
	font-size: 1.3em;
	color: rgb(100, 100, 100);
}

.panel-image.hide-panel-body ~ .panel-body {
	height: 0px;
	padding: 0px;
}


.centre {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width:200px;
    height:200px;
}

.icon-mp4{
    width: 24px; 
    height: 24px; 
    background-image: url('/Content/mp4.png'); 
    display:inline-block;
}

.icon-gif{
    width: 24px; 
    height: 24px; 
    background-image: url('/Content/gif.png'); 
    display:inline-block;
}

.icon-laneros{
    width: 24px; 
    height: 24px; 
    background-image: url('/Content/laneros.png'); 
    display:inline-block;
}
.icon-home{
    width: 24px; 
    height: 24px; 
    background-image: url('/Content/home.png'); 
    display:inline-block;
}
.icon-deleteimage{
    width: 24px; 
    height: 24px; 
    background-image: url('/Content/close.png'); 
    display:inline-block;
}

.icon-deletecategory{
    width: 48px; 
    height: 48px; 
    background-image: url('/Content/removebig.png'); 
    display:inline-block;
}





.deleteimagebutton{
    float: unset;
    margin-right:5px;
    font-size:25px;
    font-weight:bold;    
    line-height:1;
    color:#dd4b39;
    text-shadow:0 1px 0 #fff;
}
button.deleteimagebutton{
    -webkit-appearance:none;
    padding:0;
    cursor:pointer;
     background: transparent;
    border: 0;
}

div#loading { display: none; }