﻿@model Gallery.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security


<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>

            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        if (p.AuthenticationType=="Facebook")
                        {
                            <button type="submit" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> @p.AuthenticationType</button>

		                      @*<button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>*@
                        }
                        else
                        {
                            <button type="submit" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> @p.AuthenticationType</button>
                            
                        }


                    }
                </p>
            </div>
        }
    }
}
