﻿@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using Gallery.Models
@model LoginViewModel
@{
    ViewBag.Title = "Bienvenidos a OFA Gallery";
}
    





<div class="login-box">
      <div class="login-logo">
        <a href="~/"><b>OFA</b> Gallery</a>  
    </div>    
      <div class="login-box-body">
        <p class="login-box-msg">Logueate para iniciar tu sesión</p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

          <div class="form-group has-feedback">
            @Html.TextBoxFor(c => c.Email,new { @class ="form-control", placeholder="Usuario", type="email"})            
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
              @Html.TextBoxFor(c => c.Password, new { @class = "form-control", placeholder = "Contraseña", type = "password" })            
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-8">
              <div class="checkbox icheck">
                <label>
                    @Html.CheckBoxFor(c=>c.RememberMe)
                  
                </label>
              </div>
            </div>
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Entrar</button>
            </div>
          </div>
    }



        <div class="social-auth-links text-center">
          <p>- Ó -</p>
             @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </div>

        <a href="#">Olvide mi contraseña</a><br>        
        <a href="@Url.Action("Register","Account")" class="text-center">Registrarse</a>

      </div>
    </div>


