﻿@using Gallery.Models
@model Gallery.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrarse";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

    <div class="register-box">
        <div class="login-logo">
            <a href="~/"><b>OFA</b> Gallery</a>  
        </div>    

      <div class="register-box-body">
        <p class="login-box-msg">Registrarse Nuevo Usuario</p>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, null))
        {
             @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="form-group has-feedback">
                 @Html.TextBoxFor(m => m.Email, new { @class = "form-control",placeholder="Email" ,type="email"})
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>                 
             </div>
            <div class="form-group has-feedback">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" , placeholder="Contraseña",type="password" })                
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
             </div>
             <div class="form-group has-feedback">
                 @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" , placeholder="Confirmar Contraseña",type="password" })                
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
             </div>
             <div class="row">
            <div class="col-xs-8">              
            </div>
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Registrar</button>
            </div>
          </div>
        }


        <div class="social-auth-links text-center">
          <p>- Ó -</p>
             @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </div>

        <a href="#">Olvide mi contraseña</a><br> 
        <a href="@Url.Action("Login")" class="text-center">Loguearse</a>
      </div>
    </div>

